@model project.Models.Comments

@section Styles {
    <link rel="stylesheet" href="~/css/details.css"/>
}

@{
    var currentUserId = Context.Session.GetInt32("UserId");
}

<div class="comment" id="comment-@Model.rewiewID">
    <b>@(Model.User?.username) </b>
    <p>@Model.text</p>

    <button id="btn-reply" data-id="@Model.rewiewID">Відповісти</button>

    <div class="replies">
        @if (Model.Replies != null && Model.Replies.Count > 0)
        {
            foreach (var reply in Model.Replies)
            {
                @await Html.PartialAsync("~/Views/Comments/Comments.cshtml", reply)
            }
        }
    </div>
</div>