@model AddRecipeModel

@section Styles {
    <link rel="stylesheet" href="~/css/addRecipe.css"/>
}

<h1>Додати рецепт</h1>

<form asp-action="AddRecipe" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

    <div class="left">
        <div>
            <label>Назва:</label>
            <input id="name_input" asp-for="RecipeName" />
        </div>

        <div>
            <label for="categoryID">Категорія:</label>
            <select id="categoryID" name="CategoryID">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    foreach (var category in Model.Categories)
                    {
                        <option value="@category.categoryID">@category.category_name</option>
                    }
                }
            </select>
        </div>

        <div>
            <label for="TimeCooking">Час приготування:</label>
            <input type="time" id="TimeCooking" name="TimeCooking" min="00:01" max="23:59" required />
        </div>

        <div>
            <label>Фото:</label>
            <input type="file" asp-for="Photo" />
        </div>
        
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <button type="submit" id="add-btn">Додати</button>
        }
        else
        {
            <p style="color:red; margin-top:10px; font-size:20px">Увійдіть для додавання власного рецепта</p>
            <button type="button" id="add-btn" disabled>Додати</button>
        }
    </div>

    <div class="right">
        <div>
            <label>Інгредієнти: <a href="#"><img src="~/images/i.png" id="i_img" alt="Текстові поля можна розтягнути стрілочкою справа знизу" title="Текстові поля можна розтягнути стрілочкою справа знизу"></a></label>
            <textarea asp-for="Ingredients"></textarea>
        </div>
        <div>
            <label>Інструкція:</label>
            <textarea asp-for="Instruction"></textarea>
        </div>
    </div>
</form>