@{
    ViewData["Title"] = "Титульна сторінка";
}

@section Styles {
    <link rel="stylesheet" href="~/css/title.css"/>
}

@section Scripts {
    <script src="~/js/title.js"></script>
}

<body>
    <div class="content-wrapper">
        <div class="text-center">
            <h1 class="display-4">Випускна робота <br> ДНЛІТ</h1>
        </div>

        <div class="info">
            <p>Виконавець: Шамільова Уляна</p>
            <p>Куратор роботи: Лавренюк Ірина Валеріївна</p>
            <p>Тема: створення кулінарного сайту "В гостях у господарочки"</p>
        </div>
    </div>
</body>

<footer>
    <div class="footer-text">Дніпро <br> 2025</div>
    <a href="/Home/main_page" class="arrow-link">
        <img id="arrow_img" src="~/images/arrow.png" alt="Фото" />
    </a>
</footer>
