body {
    background: url('/images/bg_saved.jpg') no-repeat center center fixed;
    background-size: cover;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: left;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-card {
    position: relative;
    height: 250px; 
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    text-align: center;
}

#time-img {
    width: 20px;
}

.card-footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.recipe-time {
    margin-top: 5px;
    font-size: 14px;
}

.recipe-category {
    font-weight: bold;
    color: gray;
    width: 200px;
}

.recipe-name {
    font-size: 20px;
    margin-top: 5px;
}

.photo-class {
  overflow: hidden;
  width: 170px;
  height: 100px;
  border-radius: 7px;
}

.photo-class img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  object-fit: cover;
  display: block; 
}

.photo-class:hover img {
  transform: scale(1.3);
}

#delete-btn {
    align-self: flex-end;
    padding: 5px 15px;
    background-color: rgb(104, 88, 32);
    color: white;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

#delete-btn:hover {
    background-color: rgb(124, 109, 49);
    transform: scale(1.03);
}

.nothing {
    font-size: 20px;
}

.nothing, .nthng {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: #a7651a;
    background-color: #a39e9e96;
    border-radius: 10px;
    padding: 5px;
    width: 425px;
}